{% extends "base.html" %}
{% import "macros/workbook_macros.html" as workbook_macros %}

{% block content %}
    <h1>{{ section.title }}</h1>
    {%- if section.description -%}
    {%- set pages_by_chapter = section.pages | group_by(attribute="extra.chapter") -%}
    
    <p>
      {{ section.description | markdown | safe}}
    </p>
    {%- endif %}
    {%- for chapter in section.extra.chapters -%}
    {{ workbook_macros::chapter(title=chapter.title, number=chapter.number, pages_by_chapter=pages_by_chapter) }}
    {%- endfor %}
    </ul>
{% endblock content %}
