
{% extends "base.html" %}
{% block content %}

<h2>Notes</h2>
    <p>This is a <a href="https://nesslabs.com/digital-garden-set-up">"digital garden"</a> of notes and tidbits of information that I have collected over the years.
        As such, they are not very polished. I roughly follow the <a href="{{get_url(path='@/notes/202108120021_zettelkasten.md')}}">Zettelkasten</a> method when collecting these and there are backlinks at the end of each note referring to other notes that link to it.
        Hope you find something useful here!</p>
    <ul>
    {% for topic in terms %}
        <li><a href="{{topic.permalink}}">{{topic.name}} ({{topic.pages | length}})</a></li>
    {% endfor %}
    </ul>
</ul>
{% endblock content %}
