{% macro list_chapter_pages(pages) %}
    <ul>
    {%- for page in pages %}
        <li style="width:100%; justify-content: space-between; display: flex">
        <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
        </li>
    {%- endfor %}
    </ul>
{% endmacro list_chapter_pages %}

{% macro chapter(title, number, pages_by_chapter) %}
{%- set chapter_data = pages_by_chapter[number] | group_by(attribute='extra.page_type') -%}
<h3>{{title}}</h3>
<h4>Notes</h4>
{%- set notes = chapter_data["note"] -%}
{{ self::list_chapter_pages(pages=notes) }}
<h4>Exercises</h4>
{%- set exercises = chapter_data["exercise"] -%}
{{ self::list_chapter_pages(pages=exercises) }}
{% endmacro chapter %}
