{% macro chapter(title, prefix) %}

<h3>{{title}}</h3>
<ul>
    {%- set section_number = 0 -%}
    {%- set open_sub_list  = false -%}
    {%- for page in section.pages %}
    {%- set page_title_lower = page.title | trim | lower %}
    {%- set is_in_chapter = page_title_lower is starting_with("section " ~ prefix) %}
    {%- if is_in_chapter %}
        {%- if page_title_lower is starting_with("section " ~ section_number) %}
        {%- if open_sub_list == false -%}
            {%- set_global open_sub_list = true -%}
            <!-- opening sub list -->
            <ul>
        {%- endif %}
        {%- else %}
        {%- if open_sub_list -%}
            {%- set_global open_sub_list = false -%}
            <!-- "{{page_title_lower}}" did not start with "{{ "section " ~ section_number }}"-->
            <!-- closing sub list -->
            </ul>
        {%- endif %}
        {%- endif %}
        <li style="width:100%; justify-content: space-between; display: flex">
        <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
        </li>
        {%- if page_title_lower is containing(" :") -%}
        {%- set_global section_number = page_title_lower | split(pat=" :") | nth(n=0) | split(pat=" ") | nth(n=1) -%}
        <!-- section number is no {{section_number}}-->
        {%- endif %}
    {%- endif %}
    {% endfor %}
    {%- if open_sub_list -%}
    <!-- closing at end-->
    </ul>
    {%- endif %}
</ul>

{% endmacro input %}
