<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/normalize.css" />
    <link rel="stylesheet" href="/style.css" media="screen" />
    <link rel="stylesheet" href="/style-dark.css" media="screen and (prefers-color-scheme: dark)" />
    <title>{% if page.title %}{{ page.title | capitalize }} - {% endif %}Thomas Antony</title>
{% if page.extra.latex %}
    <script src="{{ get_url(path='/js/math.js') }}" type="text/javascript"></script>
    <script  async defer src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js" id="MathJax-script"></script>
{% endif %}
</head>
<body>
  <header>
    <div id="nav-brand-wrapper">
      <a class="sakura-blossom sans" href="/">{{ config.title }}</a>
    </div>
    <nav>
      {% if config.extra.navlinks %}
      [
        {% for menuitem in config.extra.navlinks %}
        <a class="sakura-fade" href="{{ get_url(path=menuitem.href) }}">{{ menuitem.name }}</a>{% if loop.last == false %},{% endif %}{% endfor %}
      ]
      {% endif %}
    </nav>
  </header>
  <section class="main">
  {% block content %} {% endblock %}
  </section>
  <footer class="sans">
    <a href="https://github.com/thomasantony/thomasantony.github.io-src" target="_blank"> Source code</a>. Built using <a href="https://getzola.org" target="_blank">Zola</a> and <a href="https://github.com/oxalorg/sakura" target="_blank">Sakura</a>.
  </footer>
</body>
</html>
