{% extends "base.html" %}
{% block content %}

<section class="about-me">
  <figure class="avatar">
    {% set image = resize_image(path="/images/me/me-removebg.png", width=200, op='fit_width', format='webp') %}
    <img alt="Thomas Antony - Photo" src="{{image.url}}"/>
  </figure>
  <figure class="about-me-details">
    <b>Hi, I am Thomas.</b>
    <p>
      <br/>
      This is my personal website. A place for me to write about things that capture my interest - anything from <a href="/projects#classical-mechanics">classical mechanics</a> to <a href="https://www.braveclojure.com/introduction/">functional programming</a>, and more.
    </p>
  </figure>
  <section class="about-me-contact">
    {% if config.extra.contact %}
    My online presence: <br/>
      [
        {% for item in config.extra.contact %}
        <a class="sakura-fade" href="{{item.href}}" target="_blank"><b>{{ item.name }}</b></a>{% if loop.last == false %} | {% endif %}
        {% endfor %}
      ]
    {% endif %}
  </section>
</section>

{% endblock content %}
