{% extends "base.html" %}
{% block content %}
<section id="homepage">
<ul>
    <li class="section-heading">Recent Posts</li>

    {% set posts = get_section(path="posts/_index.md") %}
    {% if posts.pages|length > 0 %}
    <ul class="content-list">
    {% for post in posts.pages|sort(attribute="date")|reverse|slice(end=5) %}
        <li>
            <time datetime="{{ post.date }}">{{ post.date | date(format="%Y-%m-%d") }}</time>
            <a href="{{ post.permalink | safe }}">{{ post.title }}</a>
        </li>
    {% endfor %}
    {% if posts.pages|length > 5 %}
        <li style="list-style: none;">
          <a href="/posts">see archives →</a>
        </li>
    {% endif %}
    </ul>
    {% endif %}

    {% set notes = get_section(path="notes/_index.md") %}
    {% if notes.pages|length > 0 %}
    <li class="section-heading">Recent Notes</li>
    <ul class="content-list">
    {% for note in notes.pages|sort(attribute="slug")|reverse|slice(end=5) %}
        <li>
            <a href="{{ note.permalink | safe }}">{{ note.title }}</a>
        </li>
    {% endfor %}
    {% if notes.pages|length > 5 %}
        <li style="list-style: none;">
            <a href="/notes">more notes →</a>
        </li>
    {% endif %}
    </ul>
    {% endif %}

    {% set projects = get_section(path="projects/_index.md") %}
    {% if projects.subsections|length > 0 %}
    <li class="section-heading">Projects</li>
    <ul class="content-list">
    {% for project_path in projects.subsections %}
        {% set project = get_section(path=project_path) %}
        <li>
            <a href="{{ project.permalink | safe }}">{{ project.title }}</a>
        </li>
    {% endfor %}
    </ul>
    {% endif %}

    {% if config.extra.contact %}
    <li class="section-heading">Contact</li>
    <ul class="content-list">
      {% for item in config.extra.contact %}
      <li><a href="{{item.href}}" target="_blank">{{ item.name }}</a></li>
      {% endfor %}
    </ul>
    {% endif %}
</ul>
</section>
{% endblock content %}
