{% extends "base.html" %}
{% block content %}
<section>
<p id="post">
  <h1>{{ page.title }}</h1>
  <article>{{ page.content | safe }}</article>
</p>
<p>
  <h2>Backlinks</h2>
  {% if page.backlinks %}
  <ul>
  {% for bl in page.backlinks %}
  <li><a href="{{bl.permalink}}">{{ bl.title }}</a></li>
  {% endfor %}
  {% endif %}
  {% if page.taxonomies.notes %}
  {% for topic in page.taxonomies.notes %}
  {% set topic_url = get_taxonomy_url(kind="notes", name=topic) %}
  <li><a href="{{ topic_url }}">{{topic}}</a></li>
  {% endfor %}
  {% endif %}
</p>
</section>


{% endblock content %}
